*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}
.cabecalho-imagem{
width: 15%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }
.escola-imagem{
    width: 20%;
}
.escola{
    background-image: linear-gradient(#424e61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
    font-size: 24px;
}
.escola-titulo{
    padding: 24px 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.estudante-imagem{
    width: 80%;
}
.estudante-icone{
    width: 20px;
    padding: 4px 8px;
}
.estudante-div{
    text-align: center;
    
}
.estudante-título{
    text-align: center;
    padding: 50px 0 100px;
    color: rgb(43, 41, 41);
    font-size: 36px;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}
.estudante{
    padding: 0 0 200px;
}
.rodape{
    background-color: black;
    text-align: center;
    padding: 10px 0;
}
.rodape-imagem{
    width: 5%;
}